@model String

<head>
    <script src="~/Scripts/getappsinfo.js" type="text/javascript"></script>
</head>

<style type="text/css">
    .divTable {
        display: table;
        width: 95%;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
    }

    .divTableCell, .divTableHead {
        border: 1px solid #999999;
        display: table-cell;
        padding: 2px;
        width: 7%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .divTableDescriptionCell {
        border: 1px solid #999999;
        display: table-cell;
        padding: 1px;
        width: 18%;
    }

    .divTableRateCell {
        border: 1px solid #999999;
        display: table-cell;
        padding: 1px;
        width: 2%;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }

    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }

    .divTableBody {
        display: table-row-group;
    }
</style>

<div class="divTable">
    <div class="divTableBody">

        <div class="divTableRow">
            <div class="divTableCell">packageName</div>
            <div class="divTableCell">Имя</div>
            <div class="divTableCell">Иконка</div>
            <div class="divTableDescriptionCell">Описание</div>
            <div class="divTableRateCell">Средняя оценка</div>
            <div class="divTableCell">Количество оценок</div>
            <div class="divTableCell">Количество установок</div>
            <div class="divTableDescriptionCell">Что нового</div>
            <div class="divTableCell">Дата обновления</div>
            <div class="divTableCell">E-mail</div>
            <div class="divTableCell">Цена</div>
            <div class="divTableCell">Внутренние покупки</div>
        </div>


        <script>
            var parsedItem = JSON.parse(    Model);
            $("body").append("<div class=\"divTableRow\">");
            $("body").append("<div class=\"divTableCell\">" + parsedItem.AppName + "</div>");
            //<div class="divTableCell"><img src="parsedItem.IconUrl" width="60" height="60" /></div>
            $("body").append("</div>");
        </script>

    </div>
</div>
