@{
    ViewBag.Title = "Index";
}

<head>
    <script src="~/Scripts/getappsinfo.js" type="text/javascript"></script>
</head>
<body>
    <form>
        <input type="text" />
    </form>
    <script>

    </script>
</body>
